export(hello)
export(randomplot)
export(readcsvnew)
export(printsummary)
export(bostonhist)
importFrom(ggplot2,qplot)
importFrom(stocks,yahoodata)
importFrom(quantmod,getSymbols)
importFrom(quantmod,chartSeries)
